
<div id="banner" >
  <!-- data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" 
  data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%" -->

  <video
    autoplay        
    loop
    muted
    width="auto"
    height="auto"
    poster="{{site.baseurl}}/assets/video/mountains.jpg">
    <source src="{{site.baseurl}}/assets/video/mountains.webm" type="video/webm">
    <source src="{{site.baseurl}}/assets/video/mountains.mp4" type="video/mp4">
  </video>

  <div class="wrapper">
    <div class="content">
      
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Enjoy Freedom{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"A journey of a thousand miles begins with a single step". — Lao Tzu{% endif %}</h2>
    </div>
  </div>
</div> <!-- End Section Banner -->