
<header class="main_header">
<!--  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a> -->
  <a href="{{site.baseurl}}/" class="logo">SEAL <span>Research Team</span></a> <!-- Modif -->
  <nav class="main_menu">
    | <a href="{{site.baseurl}}/about/"> <img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" height="33" alt="SEAL Logo" style="vertical-align:middle"> About <img src="{{site.baseurl}}/assets/img/{% if site.logo-ecole %}{{site.logo-ecole}}{% endif %}" height="33"  alt="EPITA Logo" style="vertical-align:middle"> </a>  <!-- Modif -->
	| <a href="{{site.baseurl}}/contact/">Contact</a> <!-- Modif --> 
  </nav>
</header> <!-- End Section Header -->