
<header class="main_header">
<!--  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a> -->
  <a href="{{site.baseurl}}/" class="logo">SEAL <span>Research Team</span></a> <!-- Modif -->
  <nav class="main_menu">
    <span STYLE="white-space: nowrap;">|&#8239;<a href="{{site.baseurl}}/about/"><img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" height="33" alt="SEAL Logo" style="vertical-align:middle; padding-right:0.2%;">&#8239;&#8239;About&#8239;&#8239;<img src="{{site.baseurl}}/assets/img/{% if site.logo-ecole %}{{site.logo-ecole}}{% endif %}" height="33"  alt="EPITA Logo" style="vertical-align:middle;"></a> |&#8239;<a href="{{site.baseurl}}/contact/">Contact</a></span> <!-- Modif --> 
  </nav>
</header> <!-- End Section Header -->