<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{paginator.previous_page_path | prepend: site.baseurl}}">Prev</a>
  {% else %}
    <span class="disabled">Prev</span>
  {% endif %}
  
  {% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
    {% if trail.num == paginator.page %}
      <span class="active">{{ trail.num }}</span>
    {% else %}
        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
    {% endif %}
  {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
  {% else %}
    <span class="disabled">Next</span>
  {% endif %}
</nav> <!-- End Section Pagination -->