<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{paginator.previous_page_path | prepend: site.baseurl}}">Prev</a>
  {% else %}
    <span class="disabled">Prev</span>
  {% endif %}

  {% if paginator.page == 1 %}
    <span class="active">1</span>
  {% else %}
    <a href="{{paginator.first_page_path}}">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}

    {% if count == paginator.page %}
      <span class="active">{{ count }}</span>
    {% else %}
      <a href="{{site.baseurl}}/page{{ count }}">{{ count }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
  {% else %}
    <span class="disabled">Next</span>
  {% endif %}
</nav> <!-- End Section Pagination -->