---
layout: default
title: Tags
permalink: /tags/
---

<a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<section id="tags">
  <h1> Posts avec le tag: {{page.autopages.display_name}} </h1>
  <ul class="tags cf">
<!--  cycles through tag list and creates header row of all tags used in site with accompanying per-tag counts...-->
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <li {% if this_word == page.autopages.display_name %} style='border: 1px solid #000000; background-color: #000000; -webkit-box-shadow: 0 2px 0 #000000; box-shadow: 0 2px 0 #000000;' {% endif %}><a href="{{site.baseurl}}/tag/{{ this_word | cgi_escape | replace: '+', '-' }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
  {% endunless %}{% endfor %}
  </ul>

  {% for post in paginator.posts %}
      <div class="tag_list">
        <h2>
          <span><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
          <small><span>{{ post.date | date_to_string }}</span></small>
        </h2>
      </div>
    {% endfor %}

    <div class="back_to_home">
        <a href="{{site.baseurl}}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>        
    </div>
</section>